<component name="ArtifactManager">
  <artifact type="war" name="spring-bacth:war">
    <output-path>$PROJECT_DIR$/../spring-batch/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring-bacth</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring-batch.war">
      <element id="artifact" artifact-name="spring-bacth:war exploded" />
    </root>
  </artifact>
</component>